{% extends 'base.html' %}
{% block title %}
    <title >Database Scraping</title>
{% endblock title %}
{% block extra_head %}


{% endblock extra_head %}
{% block content %}

      <div class="container">

        <div id="notifications">
        </div>

        <ul class="breadcrumb">
            <li class='active'>Database</li>

        </ul>

        <div class="row">
            <div class="span12 ">


                <div id="simple-search-form">
                    <form  action="/search/" class="well form-search upform" id="shipment_search" ><div style="margin:0;padding:0;display:inline"></div>

                            <input class="input-medium search-query"  size="30" style="width:220px;" type="text" name="query"/>
                            <button type="submit" class="btn" >Search</button> &nbsp;&nbsp;

                        <span>&nbsp;&nbsp;</span>
                        <a href="/dbadd/" class="btn btn-primary pull-right">Add Database</a>


                    </form>


                </div>


        {% if databases %}
                <table class="table table-striped">
                    <tr>
                        <th style="width:5px;" > </th>
                        <th>Database Name</th>
                        <th>User</th>
                        <th>Host</th>
                        <th>Database Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

        {% for database in databases %}
                    <tr>
                        <td > <span class="{{ database.name}}">&nbsp;&nbsp;&nbsp;&nbsp; </span> </td>
                        <td> {{database.name}} </td>
                        <td> {{ database.user}} </td>
                        <td>  {{ database.host }}  </td>
                        <td>  {{ database.get_db_type_display }} </td>
                        <td style="width:100px;"><a href="/detail/{{ shipment.id }}" class="btn btn-mini">Details</a></td>
                        <td> <a href="/edit/{{ shipment.id }}" class="btn btn-mini btn-info" rel="nofollow">Edit</a></td>
                        <td> <a href="/delete/{{ shipment.id }}" class="btn btn-mini btn-danger" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a> </td>

                    </tr>
         {% endfor %}
      {% else %}
                    <div class="alert alert-block alert-info">

                       No Databases yet, add using button above
                    </div>
       {% endif %}
                </table>

                <br />


                <style>
                    .ship_status li {list-style: none;float: left;padding:0px 0px 0px 65px;font-weight:bold;font-size:13px;}
                    .ship_status li a{color:#333;}
                </style>



            </div>
        </div>
    </div>


{% endblock content %}